@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.cdnfonts.com/css/rage-italic');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Spicy+Rice&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"], input[type='email']{
  @apply w-full border my-2 py-2 px-3 rounded-full;
} 

button {
  @apply py-1;
}

body {
   font-family: "Poppins"; 
   font-weight: 400;
}

#myTarget, #newTar{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}
